{{#my-modal title='Settings' ok='save' close='removeModal'}}
  <form {{action 'ok' on='submit' target=view}}>
    <div class="form-group">
      <label>Name</label>
      {{input class="form-control" value=name}}
    </div>
  </form>
{{/my-modal}}